{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}

    <div class="container text-center">
        <h1>Device Recognition Test</h1>
        <hr />
        <div class="row center-block">
            <h2>Your Current Browser ID</h2>
            <h4><strong>{{ fingerprint }}</strong></h4>
        </div>
        <div class="row center-block">
            <h2>All Browsers</h2>
            {% for id in devices %}
            {% if loop.first %}<ul class="list-unstyled">{% endif %}
            {% if id.fingerprint == fingerprint %}<li class="text-success"><strong>{{ id.fingerprint }}</strong></li>
            {% else %}<li>{{ id.fingerprint }}</li>{% endif %}
            {% if loop.last %}</ul>{% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
