{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}

    <div class="container">
        <h1>Device Recognition Test</h1>
        <hr />
        <div class="row">
            <h3>Your Current Browser ID</h3>
            <h5><strong>{{ fingerprint }}</strong></h5>
        </div>
        <div class="row">
            <h3>All Browsers</h3>
            {% for id in devices %}
            {% if loop.first %}<ul>{% endif %}
                <li>{{ id['fingerprint'] }}</li>
            {% if loop.last %}</ul>{% endif %}
            {% endfor %}

        </div>
    </div>


{% endblock %}
